body {
  background: #f5f6f7;
}
.container {
  padding-bottom: 50px;
}
.header {
  margin-bottom: 100px;
}
.header__logo {
  font-size: 25px;
  font-weight: 500; 
}
.header__logo img {
  width: 25px;
  height: 25px;
}
.header-link {
  font-size: 20px;
  font-weight: 700;
  color: rgb(65, 35, 13);
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}
.header-link:hover {
  color: rgb(228, 8, 45);

}
.body__title span {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  color: rgb(228, 8, 45);
display: block;
}
.body__text {
  font-size: 25px;
  font-weight: 500;
}
.body__link {
  font-size: 22px;
  font-weight: 400;
  outline: none;
}
.body__link:hover, .body__link:focus {
  /* color: rgb(228, 8, 45); */
  background-color: rgb(228, 8, 45);
  font-weight: 500;
}
.body__img {
  display: flex;
align-items: center;
justify-content: center;
/* overflow: hidden; */
}
.col__6-img {
    width: 80%;
    height: 350px;
    /* height: min-content; */
    object-fit: cover;
    box-shadow: 0px 10px 25px rgba(103, 103, 103, 0.5);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
